<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  {% if title %}
    <title>{{ title }} Organizer</title>
  {% else %}
    <title>Your Organizer</title>
  {% endif %}
  <meta name="description" content="The HTML5 Herald">
  <meta name="author" content="Bartosz">
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

   <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/static/css/materialize.min.css"  media="screen,projection"/>
  <link type="text/css" rel="stylesheet" href="/static/css/base.css">
  {% block stylesheet %}
    <link type="text/css" rel="stylesheet" href="/static/css/index.css">
  {% endblock stylesheet %}
</head>
<body>
<nav class="nav-extended purple darken-3">
  <div class="my-navbar nav-wrapper container">
    <a href="{{url_for('index')}}" class="brand-logo">Organizer</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      {% if current_user.is_authenticated %}
      <li><a class="tooltipped" data-position="bottom"
             data-tooltip="Twój profil" href="{{ url_for('tasks_list') }}">
        <i class="material-icons">person</i></a></li>
      <li><a class="tooltipped" href="{{ url_for('auth.logout') }}" data-position="bottom"
             data-tooltip="Wyloguj" >
        <i class="material-icons">exit_to_app</i></a></li>
      {% else %}
        <li><a href="{{ url_for('auth.login') }}" class="waves-effect waves-light btn">
          Zaloguj się
         </a></li>
        <li><a href="{{ url_for('auth.signup') }}" class="waves-effect waves-light btn">
          Zarejestruj się
        </a></li>
      {% endif %}
    </ul>
    <ul class="sidenav" id="mobile-demo">
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('tasks_list') }}">Twój profil</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Wyloguj</a></li>
      {% else %}
      <li><a href="{{ url_for('auth.login') }}">Zaloguj</a></li>
      <li><a href="{{ url_for('auth.signup') }}">Zarejestruj się</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
<div class="clearer">
<div class="container">
  {% block content %}

    <div class="parallax"></div>
    <div class="row" style="margin-bottom: 0;">
      <div class="index-panel indigo col s12">
        <div class="index-icon">
          <i class="large material-icons">
            assignment
          </i>
        </div>
        <div class="main-text">Witaj w <span class="webname">Organize!</span></div>
        <div class="home-panel col s8 offset-s2">
          <ul>
            <li>
              <div class="title">Czy jest Organizer?</div>
              <div class="content">
                Organizer jest aplikacją której celem jest ułatwienie zarządzajania swoimi codziennymi zadaniami.
                Użytkownicy mogą tworzyć.
              </div>
            </li>
            <li>
              <div class="title">Czy Organizer jest bezpłatny?</div>
              <div class="content">
                Tak! Organizer jest i zawsze będzie zupełnie bezpłatny. Jednakże, aby móc korzystać z jego
                funkcjonalności konieczna jest rejestracja. Może to zrobić <a href="{{url_for('auth.signup')}}">tutaj</a>.
              </div>
            </li>
            <li>
              <div class="title">Gdzie mogę zadać pytanie?</div>
              <div class="content">
                Jeśli masz jakiś problem to chętnie ci pomogę.
                Wszystkie pytania kieruj pod adres bartosz.niczyporuk781@gmail.com.
                Postaram się odpowiedzieć tak szybko jak to możliwe
              </div>
            </li>
            <li>
              <div class="title">Gdzie moje dane są bezpieczne?</div>
              <div class="content">
                Tak. Twoje dane nie zostaną nigdzie udostępnione. Wszystkie informację są przechowywane bezpiecznie i
                używane jedynie na potrzeby funkcjonowania serwisu.
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  {% endblock content %}
</div>
</div>
  <!--JavaScript at end of body for optimized loading-->
  <script type="text/javascript" src="/static/js/materialize.min.js"></script>
  <script src="/static/js/base.js"></script>
  <script>
  // It makes navbar extendable in mobile
    $(document).ready(function(){
    $('.sidenav').sidenav();
    });
  </script>

  {% block javascript %}
  {% endblock javascript %}
</body>
</html>