{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col s8 offset-s2">
    <div class="main-text">Wprowadź nowe hasło</div>
    <form method="post" class="row">
      {{ form.hidden_tag() }}
      <div class="row">
        <div class="input-field col s12">
          {{ form.password1.label }}
          {{ form.password1 }}
          {% for error in form.password1.errors %}
            <span style="color:red;">[{{error}}]</span>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          {{ form.password2.label }}
          {{ form.password2 }}
          {% for error in form.password2.errors %}
            <span style="color:red;">[{{error}}]</span>
          {% endfor %}
        </div>
      </div>
      <button class="btn waves-effect waves-light col s12" type="submit" name="action">
        Zmień hasło
      </button>
      </div>
    </form>
  </div>
</div>
{% endblock content %}