{% extends "base.html" %}
{% block stylesheet %}
<link type="text/css" rel="stylesheet" href="static/css/tasks.css">
{% endblock stylesheet %}
{% block content %}
<div class="row">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% include "_messages.html" %}
    {% endif %}
  {% endwith %}
</div>
<div class="row">
  <div class="col s10 offset-s1">
    <div class="main-text row">Twoje zadania do wykonania</div>
    <div class="flex-around">
      <a href="{{ url_for('new_task') }}" class="waves-effect waves-light btn">Nowe zadanie</a>
      <a href="{{ url_for('task_tags') }}" class="waves-effect waves-light btn">Kategorie</a>
    </div>
    <div class="head-panel row">
      <form method="get" class="col s3">
        <div class="input-field">
          <input id="search" type="text" name="search">
          <label for="search">Szukaj</label>
        </div>
        <button class="inline-btn btn waves-effect waves-light"
                type="submit" name="action">
          Szukaj
        </button>
      </form>
      <div class="col s-9" style="margin-top: 84px; float: right;">
        {% if is_filtered %}
        <a href="{{ url_for('tasks_list')}}" class="waves-effect waves-light btn">
          Wyczyść
        </a>
        {% else %}
        <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Filtry</a>

        <!-- Dropdown Structure -->
        <ul id='dropdown1' class='dropdown-content'>
          <li>
            <a href="{{ url_for('tasks_list')}}?limit=finishing">
              Ostatnie 30 dni
            </a>
          </li>
          <li>
            <a href="{{ url_for('tasks_list')}}?limit=important">
              Ważne
            </a>
          </li>
        </ul>
        {% endif %}
      </div>
    </div>
    <div class="row">
    {% for key, value in tasks.items() %}
    <div class="row">
      <div class="main-text">{{key}}</div>
        {% for task in value %}
          <div class="col s12 m6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <div>
                  <span class="card-title" style="float: left">{{ task.name }}</span>
                  {% if task.important %}
                    <div class="rating checked-star" style="float:right" data-id={{task.id}}>
                  {% else %}
                    <div class="rating" style="float:right" data-id={{task.id}}>
                  {% endif %}
                      ☆
                    </div>
                </div>
                <div style="clear: both"></div>
                <p>{{ task.place }}</p>
                <p>{{ task.summary }}</p>
              </div>
              <div class="card-action">
                <a href="#">{{ task.start }}</a>
                <a href="#">{{ task.end }}</a>
                <a href="{{ url_for('task_detail', id=task.id) }}" class="btn-floating cyan pulse">
                  <i class="material-icons">edit</i>
                </a>
                <form method="POST" action="{{ url_for('task_delete', id=task.id)}}" class="inline">
                  <button class="right btn-floating red">
                    <i class="material-icons">delete</i>
                  </button>
                </form>
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
    {% endfor %}
    </div>
    {% include 'pagination.html' %}
  </div>
</div>
{% endblock content %}
{% block javascript %}
<script>
$('.rating').click( (e) => {
  let target_id = e.target.dataset.id
  console.log(target_id)
  $.ajax({
    url: '/important/',
    data: JSON.stringify({id: target_id}),
    type: 'POST',
    contentType:'application/json',
    dataType: 'JSON',
    success: (json) => {
      console.log(e.target)
      $(e.target).toggleClass('checked-star')
    }
  });
});
$('.dropdown-trigger').dropdown();
</script>
{% endblock javascript %}